<div *ngIf="person">
  <mat-card class="mat-elevation-z4 container">
    <mat-card-header>
      <mat-card-title>Détails de {{ person.firstName }} {{ person.lastName }}</mat-card-title>
      <mat-card-subtitle>Nationalité : {{ person.nationality }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <h6>Informations personnelles</h6>
        <mat-list-item><strong>Nom de jeune fille :</strong> {{ person.maidenName }}</mat-list-item>
        <mat-list-item><strong>Date de naissance :</strong> {{ person.birthDate | date }}</mat-list-item>
        <mat-list-item><strong>Lieu de naissance :</strong> {{ person.birthPlace }}</mat-list-item>
        <mat-list-item><strong>ID Nationalité :</strong> {{ person.nationalityID }}</mat-list-item>
        <mat-list-item><strong>Genre :</strong> {{ person.gender }}</mat-list-item>
        <mat-list-item><strong>Groupe ethnique :</strong> {{ person.ethnicGroup }}</mat-list-item>
        <mat-list-item><strong>Numéro de certificat de naissance :</strong> {{ person.birthCertificateNumber }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4 container">
    <mat-card-header>
      <mat-card-title>Informations familiales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <h6>Détails parentaux</h6>
        <mat-list-item><strong>Nom du père :</strong> {{ person.fathersName }}</mat-list-item>
        <mat-list-item><strong>Nom de la mère :</strong> {{ person.mothersName }}</mat-list-item>
        <mat-list-item><strong>Profession du père :</strong> {{ person.fathersProfession }}</mat-list-item>
        <mat-list-item><strong>Profession de la mère :</strong> {{ person.mothersProfession }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4 container">
    <mat-card-header>
      <mat-card-title>Informations de contact</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <h6>Contact</h6>
        <mat-list-item><strong>Adresse actuelle :</strong> {{ person.currentAddress }}</mat-list-item>
        <mat-list-item><strong>Email :</strong> {{ person.emailAddress }}</mat-list-item>
        <mat-list-item><strong>Téléphone :</strong> {{ person.phoneNumber }}</mat-list-item>
        <mat-list-item><strong>Contact d'urgence :</strong> {{ person.emergencyContactName }}</mat-list-item>
        <mat-list-item><strong>Téléphone d'urgence :</strong> {{ person.emergencyContactPhone }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4 container">
    <mat-card-header>
      <mat-card-title>Informations supplémentaires</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <h6>Santé & Divers</h6>
        <mat-list-item><strong>Groupe sanguin :</strong> {{ person.bloodType }}</mat-list-item>
        <mat-list-item><strong>Allergies :</strong> {{ person.allergies }}</mat-list-item>
        <mat-list-item><strong>Handicaps :</strong> {{ person.disabilities }}</mat-list-item>
        <mat-list-item><strong>Niveau d'éducation :</strong> {{ person.educationLevel }}</mat-list-item>
        <mat-list-item><strong>Profession :</strong> {{ person.profession }}</mat-list-item>
        <mat-list-item><strong>Occupation :</strong> {{ person.occupation }}</mat-list-item>
        <mat-list-item><strong>Religion :</strong> {{ person.religion }}</mat-list-item>
        <mat-list-item><strong>Statut de votant :</strong> {{ person.voterStatus }}</mat-list-item>
        <mat-list-item><strong>Numéro d'identification fiscale :</strong> {{ person.taxIdentificationNumber }}</mat-list-item>
        <mat-list-item><strong>Numéro de sécurité sociale :</strong> {{ person.socialSecurityNumber }}</mat-list-item>
        <mat-list-item><strong>Numéro de permis de conduire :</strong> {{ person.drivingLicenseNumber }}</mat-list-item>
        <mat-list-item><strong>Numéro de passeport :</strong> {{ person.passportNumber }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="loadingError">
  <p>Error loading person details.</p>
</div>
