<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: auto;" ></span>
  <button mat-button >Home</button>
  <button mat-button >Profile</button>
  <button mat-button [matMenuTriggerFor]="menuRef">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>

  <mat-menu #menuRef="matMenu">
      <button mat-menu-item *ngFor="let item of items">
          item
      </button>
  </mat-menu>
  <button mat-raised-button color="accent">Logout</button>
</mat-toolbar>

<mat-drawer-container>
<mat-drawer #sidenav opened="true" mode="side" position="start">
  <mat-list>
    <mat-list-item>
      <button mat-button routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>
    </mat-list-item>

    <!-- Citizens -->
    <mat-list-item>
      <button mat-button routerLink="/persons">
        <mat-icon>groups</mat-icon>
        Citoyens
      </button>
    </mat-list-item>

    <!-- Biometric Data -->
    <mat-list-item>
      <button mat-button routerLink="/biometric-data">
        <mat-icon>fingerprint</mat-icon>
        Biométriques
      </button>
    </mat-list-item>

    <!-- Marriage -->
    <mat-list-item>
      <button mat-button routerLink="/marriage-record">
        <mat-icon>favorite</mat-icon>
        Mariage
      </button>
    </mat-list-item>

    <!-- Birth Records -->
    <mat-list-item>
      <button mat-button routerLink="/birth-record">
        <mat-icon>child_care</mat-icon>
        Naissances
      </button>
    </mat-list-item>

    <!-- Death Records -->
    <mat-list-item>
      <button mat-button routerLink="/death-record">
        <mat-icon>sentiment_dissatisfied</mat-icon>
        Décès
      </button>
    </mat-list-item>

    <!-- Health Records -->
    <mat-list-item>
      <button mat-button routerLink="/health-record">
        <mat-icon>healing</mat-icon>
        Santé
      </button>
    </mat-list-item>

    <!-- Criminal Records -->
    <mat-list-item>
      <button mat-button routerLink="/criminal-record">
        <mat-icon>gavel</mat-icon>
        Casier Judiciaire
      </button>
    </mat-list-item>

    <!-- Complaint List -->
    <mat-list-item>
      <button mat-button routerLink="/complaint-list">
        <mat-icon>report_problem</mat-icon>
        Plaintes
      </button>
    </mat-list-item>


  </mat-list>
</mat-drawer>

<mat-drawer-content>
  <div style="min-height: 100vh; padding: 20px;">
    <router-outlet />
  </div>
</mat-drawer-content>
</mat-drawer-container>

